<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">view_headline</i></a>
            <ul class="right hide-on-med-and-down">
                    <li><a class="waves-effect" href="#">Home</a></li>
                    <li><a class="waves-effect" href="#">Report Equipment</a></li>
                    <li><a class="waves-effect" href="#">Logout</a></li>
            </ul>
        </div>
    </nav>
</div>
<ul class="side-nav" id="mobile-demo">
    <li><center>MENU</center></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">assessment</i> Home</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">forum</i> Report Equipment</a></li>
    <li><a class="waves-effect" href="#"><i class="material-icons">lock</i> Logout</a></li>
</ul>